.section_aciertos {
    grid-column: 2/8;
    grid-row: 2/3;
    font-size: 3rem;
    display: flex;
    align-items: center;
}
.section_aciertos .titulo {
    width: 16rem;
    font-size: 2rem;
    margin-right: 2rem;
    color: purple;
}
.section_aciertos .lista {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}