.header{
    grid-column-start: 1;
    grid-column-end: 6;
    
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.log{
    background-color: pink;
    width: 5rem;
    height: 5rem;
    border-radius: 3px;

    font-size: 2rem;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav div{
    width: 10rem;
    height: 3.5rem;
    background-color: pink;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

nav div:hover{
    transition: 1ms;
    background-color: rgba(128, 0, 128, 0.509);

}

.btn{
    width: 10rem;
    height: 3.5rem;
    background-color: rgba(128, 0, 128, 0.173);
    color: white;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: 600;
}

